In [1]:
from pathlib import Path
import pandas as pd

In [2]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")

In [13]:
df = pd.read_stata(Path.joinpath(raw_data_path, "level9.dta"))
df.columns

Index(['common_id', 'State', 'Sector', 'District', 'Centre_code_Round',
       'FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'Srl_No',
       'no_owned_male', 'no_owned_female', 'no_owned_total', 'Blank', 'NSC',
       'Multiplier', 'w'],
      dtype='object')

In [14]:
df.drop(['Centre_code_Round',
       'FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'Blank','NSC'], axis = 1, inplace = True)

In [15]:
df.columns

Index(['common_id', 'State', 'Sector', 'District', 'Srl_No', 'no_owned_male',
       'no_owned_female', 'no_owned_total', 'Multiplier', 'w'],
      dtype='object')

In [16]:
var_names = [x.lower() for x in df.columns]
df.columns = var_names

In [17]:
if df["common_id"].is_unique:
    print("Common ID is unique for Level 9")
else:
    print("Common ID not unique for Level 9")

Common ID not unique for Level 9

In [18]:
df['animal_category'] = df['srl_no']

In [19]:
cat_labels = {1: 'cattle in-milk', 2: 'cattle young stock', 3: 'cattle other', 4: 'buffalo in-milk', 5: 'buffalo young stock', 6: 'buffalo other', 7: 'ovine and other mammals (sheep, goat, pig, rabbits etc.)', 8: 'other large-heads (elephant, camel, horse, mule, pony, donkey, yak, mithun etc.) ', 9:'poultry birds (hen, cock, chicken, duck, duckling, other poultry birds, etc.)', 10 : 'total'}

In [20]:
df['animal_category'] = df['animal_category'].map(cat_labels)

In [21]:
df

,common_id,state,sector,district,srl_no,no_owned_male,no_owned_female,no_owned_total,multiplier,w,animal_category
0,72227101,1,1,5,4,NaN,1.0,1,139500,1395.0,buffalo in-milk
1,72227101,1,1,5,5,NaN,2.0,2,139500,1395.0,buffalo young stock
2,72227101,1,1,5,7,NaN,NaN,3,139500,1395.0,"ovine and other mammals (sheep, goat, pig, rab..."
3,72227101,1,1,5,9,NaN,NaN,3,139500,1395.0,"poultry birds (hen, cock, chicken, duck, duckl..."
4,72227101,1,1,5,11,NaN,NaN,9,139500,1395.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
115293,70112501,36,1,31,11,NaN,NaN,12,100500,1005.0,NaN
115294,70112502,36,1,31,1,NaN,2.0,2,100500,1005.0,cattle in-milk
115295,70112502,36,1,31,2,2.0,NaN,2,100500,1005.0,cattle young stock
115296,70112502,36,1,31,6,NaN,1.0,1,100500,1005.0,buffalo other
115297,70112502,36,1,31,11,NaN,NaN,5,100500,1005.0,NaN

In [22]:
csv_path = Path.joinpath(interim_data_path, "level9.csv")
df.to_csv(csv_path, index=False)

In [23]:
#check total
#check unique values before mapping