In [1]:
from pathlib import Path
import pandas as pd

In [2]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")

In [3]:
df = pd.read_stata(Path.joinpath(raw_data_path, "level4.dta"))
df.columns

Index(['common_id', 'State', 'Sector', 'District', 'Schedule_ID',
       'FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'MPCE_Purchase',
       'MPCE_homegrown_stock', 'MPCE_wages_gifts', 'MPCE_durables_365days',
       'MPCE', 'Blank', 'NSC', 'Multiplier', 'w'],
      dtype='object')

In [4]:
df.drop(['FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'Blank','NSC'], axis = 1, inplace = True)

In [5]:
df.columns

Index(['common_id', 'State', 'Sector', 'District', 'Schedule_ID',
       'MPCE_Purchase', 'MPCE_homegrown_stock', 'MPCE_wages_gifts',
       'MPCE_durables_365days', 'MPCE', 'Multiplier', 'w'],
      dtype='object')

In [6]:
var_names = [x.lower() for x in df.columns]
df.columns = var_names

In [7]:
if df["common_id"].is_unique:
    print("Common ID is unique for Level 4")
else:
    print("Common ID not unique for Level 4")

Common ID is unique for Level 4

In [8]:
df

,common_id,state,sector,district,schedule_id,mpce_purchase,mpce_homegrown_stock,mpce_wages_gifts,mpce_durables_365days,mpce,multiplier,w
0,53335201,1,1,5,771,12000.0,2850.0,150.0,0.0,15000,31000,310.0
1,53335301,1,1,5,771,9500.0,2200.0,300.0,NaN,12000,241800,2418.0
2,53335302,1,1,5,771,5000.0,1250.0,250.0,NaN,6500,241800,2418.0
3,53335303,1,1,5,771,12000.0,2800.0,200.0,NaN,15000,241800,2418.0
4,53335304,1,1,5,771,13500.0,1250.0,250.0,0.0,15000,241800,2418.0
...,...,...,...,...,...,...,...,...,...,...,...,...
116456,76272402,36,2,31,771,15500.0,0.0,0.0,2500.0,15708,233750,2338.0
116457,76272501,36,2,31,771,5850.0,0.0,0.0,6800.0,6417,93500,935.0
116458,76272502,36,2,31,771,15200.0,0.0,0.0,4500.0,15575,93500,935.0
116459,76272601,36,2,31,771,9850.0,0.0,0.0,15300.0,11125,149600,1496.0
116460,76272602,36,2,31,771,11200.0,0.0,0.0,14500.0,12408,149600,1496.0

In [9]:
csv_path = Path.joinpath(interim_data_path, "level4.csv")
df.to_csv(csv_path, index=False)