In [14]:
from pathlib import Path
import pandas as pd

In [15]:
dir_path = Path.cwd()
raw_data_path = Path.joinpath(dir_path, "data", "raw")
interim_data_path = Path.joinpath(dir_path, "data", "interim")

In [16]:
df = pd.read_stata(Path.joinpath(raw_data_path, "level1.dta"))
df.columns

Index(['common_id', 'State', 'Sector', 'District', 'Schedule_ID',
       'FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'Informant_SlNo',
       'Response_Code', 'Survey_Code', 'Substitution_Code', 'Employee_code1',
       'Employee_code2', 'Employee_code3', 'Date_of_Survey',
       'Date_of_Despatch', 'Time_to_canvass', 'No_of_investigators',
       'Remarks_in_block1', 'Remarks_in_block2', 'Remarks_elsewhere_in_Sch1',
       'Remarks_elsewhere_in_Sch2', 'no_of_insurance_policies', 'Blank', 'NSC',
       'Multiplier', 'w'],
      dtype='object')

In [17]:
df.drop(['FSU_Serial_No', 'Round', 'Schedule', 'Sample', 'NSS_Region', 'Stratum',
       'Sub_Stratum', 'Sub_Round', 'FOD_Sub_Region', 'Second_stage_stratum_no',
       'Sample_hhld_No', 'Visit_number', 'Level', 'Filler', 'Blank', 'NSC'], axis = 1, inplace = True)

In [18]:
var_names = [x.lower() for x in df.columns]
df.columns = var_names

In [19]:
df.columns

Index(['common_id', 'state', 'sector', 'district', 'schedule_id',
       'informant_slno', 'response_code', 'survey_code', 'substitution_code',
       'employee_code1', 'employee_code2', 'employee_code3', 'date_of_survey',
       'date_of_despatch', 'time_to_canvass', 'no_of_investigators',
       'remarks_in_block1', 'remarks_in_block2', 'remarks_elsewhere_in_sch1',
       'remarks_elsewhere_in_sch2', 'no_of_insurance_policies', 'multiplier',
       'w'],
      dtype='object')

In [20]:
df1  = df[['common_id','sector','state', 'district', 'multiplier', 'w']]

In [21]:
if df1["common_id"].is_unique:
    print("Common ID is unique for Level 1")
else:
    print("Common ID not unique for Level 1")

Common ID is unique for Level 1

In [22]:
csv_path = Path.joinpath(interim_data_path, "level1.csv")
df1.to_csv(csv_path, index=False)

In [23]:
df1

        common_id  sector  state  district  multiplier       w
0        53335201       1      1         5       31000   310.0
1        53335301       1      1         5      241800  2418.0
2        53335302       1      1         5      241800  2418.0
3        53335303       1      1         5      241800  2418.0
4        53335304       1      1         5      241800  2418.0
...           ...     ...    ...       ...         ...     ...
116456   76272402       2     36        31      233750  2338.0
116457   76272501       2     36        31       93500   935.0
116458   76272502       2     36        31       93500   935.0
116459   76272601       2     36        31      149600  1496.0
116460   76272602       2     36        31      149600  1496.0

[116461 rows x 6 columns]