In [2]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

In [10]:
project_dir = str(Path().resolve().parents[2])
nrega_dir = str(Path().resolve().parents[1])
nrega_dir
# raw_folder = os.path.join(
#     os.path.join(os.path.join(project_dir, "data"), "raw"), "receipt_budget"
# )

'C:\\dev\\bipp-datasets\\projects\\nrega-impact'

In [182]:
lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/ac_panchayat.csv"), encoding="iso-8859-1")
# renaming the concerned columns
# lgd = lgd.rename(columns={"stname": "state_name", "dtname": "district_name"})
# subsetting for necessary columns
lgd = lgd[["stname", "ST_CODE","dtname", "DT_CODE","gp_name","gp_code"]].drop_duplicates()
lgd.columns = ['state_name','state_code','district_name','district_code','gp_name','gp_code']
# uppercasing all names
# lgd["state_name_lower"] = lgd["state_name"].str.lower()
# lgd["district_name_lower"] = lgd["district_name"].str.lower()
# lgd["block_name"] = lgd["block_name"].str.upper()
lgd["gp_name_lower"] = lgd["gp_name"].str.lower()

# concatenating states, districts, blocks and panchayats

# lgd["state_dist_panch"] = lgd["state_name_lower"] + "_" + lgd["district_name_lower"] + "_" + lgd["gp_name_lower"]
up_lgd = lgd[lgd['state_name'] == 'UTTAR PRADESH'].copy()
up_lgd[['state_code','district_code']] = up_lgd[['state_code','district_code']].astype(int)
up_lgd

c:\dev\bipp-datasets\projects\nrega-impact\.venv\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (7,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,state_name,state_code,district_name,district_code,gp_name,gp_code,gp_name_lower
67556,UTTAR PRADESH,6,Saharanpur,3,GHORON,33368,ghoron
88170,UTTAR PRADESH,23,Lalitpur,8,NIWARI,269771,niwari
89645,UTTAR PRADESH,23,Sonbhadra,17,DIGHAWAR,151930,dighawar
89649,UTTAR PRADESH,23,Sonbhadra,17,RAMDIHA,151993,ramdiha
106665,UTTAR PRADESH,23,Jhansi,5,LAHAR HAWELI,136460,lahar haweli
...,...,...,...,...,...,...,...
224729,UTTAR PRADESH,9,Sonbhadra,70,Dhartidolwa,271248,dhartidolwa
224730,UTTAR PRADESH,9,Sonbhadra,70,Dalapipar,90370,dalapipar
224731,UTTAR PRADESH,9,Sonbhadra,70,KUARAVA,90349,kuarava
224732,UTTAR PRADESH,9,Sonbhadra,70,KARAHIYA,90550,karahiya
224733,UTTAR PRADESH,9,Sonbhadra,70,Bodhadih,271269,bodhadih

In [192]:
der_lgd = pd.read_csv(os.path.join(nrega_dir, r"helper_files/St_Dt_Blk_Gp_LGD_Codes_20-5-21.csv")).dropna(subset=['gp_code'])
# # uppercasing all names
# der_lgd["state_name_lower"] = der_lgd["state_name"].str.lower()
# der_lgd["district_name_lower"] = der_lgd["district_name"].str.lower()
# der_lgd["block_name_lower"] = der_lgd["block_name"].str.lower()
der_lgd["gp_name_lower"] = der_lgd["gp_name"].str.lower().str.replace('rf ',';').str.replace('/',';')
der_lgd["gp_name_1"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[0].str.strip()
der_lgd["gp_name_2"] = der_lgd["gp_name_lower"].str.lower().str.split(';').str[1].str.strip()

# # concatenating states, districts, blocks and panchayats

# der_lgd["state_dist_panch"] = der_lgd["gp_name_lower"]
der_up_lgd = der_lgd[der_lgd['state_name'] == 'UTTAR PRADESH'].copy()
# up_lgd.drop(columns=['state_name','state_name_lower','district_name','district_name_lower','block_name','block_name_lower','gp_name','gp_name_lower'], inplace=True)
der_up_lgd.drop(columns=['state_name','district_name','block_name','gp_name'], inplace=True)
der_up_lgd[['state_code','district_code','block_code','gp_code']] = der_up_lgd[['state_code','district_code','block_code','gp_code']].astype(int)
der_up_lgd

,state_code,district_code,block_code,gp_code,gp_name_lower,gp_name_1,gp_name_2
204220,9,118,803,42727,abhaudopura,abhaudopura,NaN
204221,9,118,803,42728,akabara,akabara,NaN
204222,9,118,803,42729,ardaya,ardaya,NaN
204223,9,118,803,42730,arrua khas,arrua khas,NaN
204224,9,118,803,42731,arsena,arsena,NaN
...,...,...,...,...,...,...,...
263366,9,187,1623,265920,todarpur,todarpur,NaN
263367,9,187,1623,265921,jogapur,jogapur,NaN
263368,9,187,1623,265922,rameshvar,rameshvar,NaN
263369,9,187,1623,265923,bhagautipur,bhagautipur,NaN
263370,9,187,1623,265924,maniyaripur,maniyaripur,NaN

In [138]:
curr_state = "UTTAR PRADESH"
# print(der_up_lgd['gp_name_1'].nunique(), der_up_lgd['gp_name_2'].nunique())

In [34]:
files = [file for file in  Path(nrega_dir).glob("./data/processed/block_lgd_mapped/*.csv") if file.stem == curr_state]
files

[WindowsPath('C:/dev/bipp-datasets/projects/nrega-impact/data/processed/block_lgd_mapped/UTTAR PRADESH.csv')]

In [68]:
df = pd.concat(pd.read_csv(f) for f in files).reset_index(drop=True)
df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,finished_when,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,3120002022/IC/9818,2006-06-15,2009-06-17,3.0,0.6050,0.0000,130.0,1.0,0.0,1.0,1.0,9.0,2006-2007
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/RC/1,2008-07-10,2010-03-31,3.0,0.5978,0.0571,470.0,1.0,0.0,1.0,4.0,12.0,2008-2009
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/OP/7219,2009-02-15,2009-03-31,3.0,2.8500,4.2700,145.0,1.0,0.0,1.0,NaN,10.0,2008-2009
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/0001,2009-01-01,2009-01-15,3.0,1.7000,0.0000,187.0,1.0,0.0,1.0,4.0,12.0,2008-2009
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/6,2008-12-19,2008-12-30,3.0,1.0659,0.2290,229.0,1.0,0.0,1.0,4.0,12.0,2008-2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5860990,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/FP/958486255822951683,2018-10-23,2019-06-03,3.0,0.6691,0.6265,358.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5860991,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/RC/958486255822970674,2018-10-23,2019-06-02,3.0,1.2325,1.0430,611.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5860992,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,3165020033/RC/958486255822944220,2018-06-26,2018-10-08,3.0,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019
5860993,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822955422,2018-04-10,2019-08-01,3.0,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019
5860994,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822890875,2018-05-22,2018-06-07,3.0,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019

In [193]:
data_codes = df[['state','state_LGD_code','district','district_LGD_code','block_name','block_LGD_code','panchayat_name']].drop_duplicates()
# data_codes["state_name_lower"] = data_codes["state"].str.lower()
# data_codes["district_name_lower"] = data_codes["district"].str.lower()
# data_codes["block_name_lower"] = data_codes["block_name"].str.lower()
data_codes["gp_name_lower"] = data_codes["panchayat_name"].str.lower()
# concatenating states, districts, blocks and panchayats
# data_codes["state_dist_panch"] = data_codes["gp_name_lower"]
# data_codes.drop(columns=['state_name_lower','district_name_lower','gp_name_lower'], inplace=True)
data_codes

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_name_lower
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya
5,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara
6,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas
...,...,...,...,...,...,...,...,...
5857289,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla
5857425,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani
5860440,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala
5860504,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur
5860620,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada

In [199]:
merged_codes = data_codes.merge(der_up_lgd[['state_code','district_code','block_code','gp_code','gp_name_lower']], 
                                        left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_lower'], how='left')

merged_codes = merged_codes.merge(der_up_lgd[['block_code','gp_code','gp_name_1']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_1'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code_x','block_code_y','gp_code_y','gp_name_1'], axis=1)

merged_codes = merged_codes.merge(der_up_lgd[['block_code','gp_code','gp_name_2']], 
                                    left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes['gp_code_x'] = merged_codes['gp_code_x'].fillna(merged_codes['gp_code_y'])
merged_codes = merged_codes.rename(columns={'gp_code_x':'gp_code'}).drop(['block_code','gp_code_y','gp_name_2'], axis=1)

# merged_codes = merged_codes.merge(der_up_lgd, left_on=['block_LGD_code','gp_name_lower'], right_on=['block_code','gp_name_2'], how='left')
merged_codes

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_name_lower,state_code,district_code,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,kachura,NaN,NaN,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,abahde pura,NaN,NaN,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,aerdaya,NaN,NaN,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AKBARA,akbara,NaN,NaN,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AROAKHAS,aroakhas,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
58570,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla,9.0,124.0,48708.0
58571,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani,9.0,124.0,48737.0
58572,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,ABDULPUR MAVALA,abdulpur mavala,NaN,NaN,NaN
58573,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,FATHAPUR,fathapur,NaN,NaN,NaN
58574,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SHAZANPUR THISORA ORF NAVADA,shazanpur thisora orf navada,NaN,NaN,NaN

In [195]:
# merged_codes = merged_codes[merged_codes['gp_code'].notnull()]
# merged_codes

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,gp_name_lower,state_code,district_code,gp_code
5,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ARSENA,arsena,9.0,118.0,42731.0
7,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BABROD,babrod,9.0,118.0,42733.0
8,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BARAULI,barauli,9.0,118.0,42734.0
9,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BASTAI,bastai,9.0,118.0,42735.0
10,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,BHILAWATI,bhilawati,9.0,118.0,42736.0
...,...,...,...,...,...,...,...,...,...,...,...
58567,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,saidbhar,9.0,124.0,48731.0
58568,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SALAWATPUR KHERI,salawatpur kheri,9.0,124.0,48733.0
58569,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SIKHERA,sikhera,9.0,124.0,48735.0
58570,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,HABIBPUR NAGLA,habibpur nagla,9.0,124.0,48708.0
58571,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,TILPANI,tilpani,9.0,124.0,48737.0

In [201]:
merged_codes[merged_codes['panchayat_name'].str.contains('KEVLAA', case=False)]

Empty DataFrame
Columns: [state, state_LGD_code, district, district_LGD_code, block_name, block_LGD_code, panchayat_name, gp_name_lower, state_code, district_code, gp_code]
Index: []

In [196]:
pending_codes = merged_codes[merged_codes['gp_code'].isna()].copy()
# .drop(columns=['state_code','district_code','block_code','gp_code'])
pending_codes

Empty DataFrame
Columns: [state, state_LGD_code, district, district_LGD_code, block_name, block_LGD_code, panchayat_name, gp_name_lower, state_code, district_code, gp_code]
Index: []

In [177]:
pending_codes[['district_LGD_code','gp_name_lower']].drop_duplicates()

       district_LGD_code                 gp_name_lower
0                    118                       kachura
1                    118                   abahde pura
2                    118                       aerdaya
3                    118                        akbara
4                    118                      aroakhas
...                  ...                           ...
58571                124                     mavikhurd
58572                124                   puramahadav
58580                124               abdulpur mavala
58581                124                      fathapur
58582                124  shazanpur thisora orf navada

[34768 rows x 2 columns]

In [184]:
pending_merged = pending_codes[['district_LGD_code','gp_name_lower']].drop_duplicates().merge(up_lgd, left_on=['district_LGD_code','gp_name_lower'], right_on=['district_code','gp_name_lower'], how='left')
# pending_merged['gp_code_x'] = pending_merged['gp_code_x'].fillna(pending_merged['gp_code_y'])
# pending_merged = pending_merged.rename(columns={'gp_code_x':'gp_code'}).dropna(subset=['gp_code']).drop(['state_code_x','state_code_y','district_code_x','district_code_y','gp_code_y'], axis=1)
pending_merged

,district_LGD_code,gp_name_lower,state_name,state_code,district_name,district_code,gp_name,gp_code
0,118,kachura,NaN,NaN,NaN,NaN,NaN,NaN
1,118,abahde pura,NaN,NaN,NaN,NaN,NaN,NaN
2,118,aerdaya,NaN,NaN,NaN,NaN,NaN,NaN
3,118,akbara,NaN,NaN,NaN,NaN,NaN,NaN
4,118,aroakhas,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
34787,124,mavikhurd,NaN,NaN,NaN,NaN,NaN,NaN
34788,124,puramahadav,NaN,NaN,NaN,NaN,NaN,NaN
34789,124,abdulpur mavala,NaN,NaN,NaN,NaN,NaN,NaN
34790,124,fathapur,NaN,NaN,NaN,NaN,NaN,NaN
34791,124,shazanpur thisora orf navada,NaN,NaN,NaN,NaN,NaN,NaN

In [185]:
pending_merged[pending_merged['gp_code'].notnull()]

Empty DataFrame
Columns: [district_LGD_code, gp_name_lower, state_name, state_code, district_name, district_code, gp_name, gp_code]
Index: []

In [85]:
mapped_path = os.path.join(nrega_dir, r'data\processed\pachayat_mapped')
mapped_path

'C:\\dev\\bipp-datasets\\projects\\nrega-impact\\data\\processed\\pachayat_mapped'

In [100]:
# merged_codes.to_csv(os.path.join(mapped_path, 'test.csv'), index=False)

In [189]:
mapped_df = df.merge(merged_codes[['block_LGD_code','panchayat_name','gp_code']], on=['block_LGD_code','panchayat_name'], how='left').drop_duplicates(
)
mapped_df

,state,state_LGD_code,district,district_LGD_code,block_name,block_LGD_code,panchayat_name,work_code,work_started_date,work_physically_completed_date,...,sanction_amount_in_lakh,total_amount_paid_since_inception_in_lakh,total_mandays,no_of_units,is_secure,work_status,master_work_category_name,work_category_name,work_start_fin_year,gp_code
0,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,KACHURA,3120002022/IC/9818,2006-06-15,2009-06-17,...,0.6050,0.0000,130.0,1.0,0.0,1.0,1.0,9.0,2006-2007,NaN
1,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/RC/1,2008-07-10,2010-03-31,...,0.5978,0.0571,470.0,1.0,0.0,1.0,4.0,12.0,2008-2009,NaN
2,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,ABAHDE PURA,3120002001/OP/7219,2009-02-15,2009-03-31,...,2.8500,4.2700,145.0,1.0,0.0,1.0,NaN,10.0,2008-2009,NaN
3,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/0001,2009-01-01,2009-01-15,...,1.7000,0.0000,187.0,1.0,0.0,1.0,4.0,12.0,2008-2009,NaN
4,UTTAR PRADESH,9,AGRA,118,ACHHNERA,803,AERDAYA,3120002002/RC/6,2008-12-19,2008-12-30,...,1.0659,0.2290,229.0,1.0,0.0,1.0,4.0,12.0,2008-2009,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5911111,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/FP/958486255822951683,2018-10-23,2019-06-03,...,0.6691,0.6265,358.0,1.0,0.0,1.0,4.0,6.0,2018-2019,NaN
5911112,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,PUTHAR,3165020030/RC/958486255822970674,2018-10-23,2019-06-02,...,1.2325,1.0430,611.0,1.0,0.0,1.0,4.0,12.0,2018-2019,NaN
5911113,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SAIDBHAR,3165020033/RC/958486255822944220,2018-06-26,2018-10-08,...,0.2838,0.0315,18.0,1.0,0.0,1.0,4.0,12.0,2018-2019,48731.0
5911114,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822955422,2018-04-10,2019-08-01,...,1.1432,0.7140,420.0,1.0,0.0,1.0,4.0,6.0,2018-2019,NaN
5911115,UTTAR PRADESH,9,BAGHPAT,124,PILANA,893,SINDHAWALI AHEER,3165020037/FP/958486255822890875,2018-05-22,2018-06-07,...,0.7724,0.6300,360.0,1.0,0.0,1.0,4.0,6.0,2018-2019,NaN

In [190]:
mapped_df.to_csv(os.path.join(mapped_path, 'Uttar_Pradesh_mapped.csv'), index=False)