In [53]:
import pandas as pd
from pathlib import Path
import re

In [2]:
files = list(Path("../data/raw/ub_macro").glob("*.xlsx"))

In [3]:
xls = [pd.read_excel(f).dropna(axis=1, how="all").dropna(axis=0, how="all") for f in files]

In [4]:
for file, df in zip(files, xls):
    print(file.stem)
    display(df.head())

union-budget-2018-2019

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Budget at a Glance,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,(In ` crore),NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,2016-2017,2017-2018,2017-2018,2018-2019
6,NaN,NaN,NaN,Actuals,Budget,Revised,Budget
7,NaN,NaN,NaN,NaN,Estimates,Estimates,Estimates

union-budget-2019-2020

,बजट का सार Budget at a Glance,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(₹ करोड़) (In ₹ crores),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2017-2018\n वास्तविक\n\nActuals,2018-2019\nबजट\nअनुमान\nBudget \nEstimates,2018-2019\nसंशोधित\nअनुमान\nRevised \nEstimates,2019-2020\nबजट\nअनुमान\nBudget \nEstimates
2,1. राजस्व प्राप्तियां,1. Revenue Receipts,1435233,1725738,1729682,1962761
3,2. कर राजस्व (केंद्र को निवल ),2. Tax Revenue (Net to Centre),1242488,1480649,1484406,1649582
4,3. कर भिन्न राजस्व,3. Non Tax Revenue,192745,245089,245276,313179

union-budget-2020-2021

,बजट का सार Budget at a Glance,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(₹ करोड़) (In ₹ crores),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2018-2019\n वास्तविक\n\nActuals,2019-2020\nबजट\nअनुमान\nBudget \nEstimates,2019-2020\nसंशोधित\nअनुमान\nRevised \nEstimates,2020-2021\nबजट\nअनुमान\nBudget \nEstimates
2,1. राजस्व प्राप्तियां,1. Revenue Receipts,1552916,1962761,1850101,2020926
3,2. कर राजस्व (केंद्र को निवल ),2. Tax Revenue (Net to Centre),1317211,1649582,1504587,1635909
4,3. कर भिन्न राजस्व,3. Non Tax Revenue,235705,313179,345514,385017

union-budget-2021-2022

,बजट का सार Budget at a Glance,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(₹ करोड़) (In ₹ crores),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2019-2020\n वास्तविक\n\nActuals,2020-2021\nबजट\nअनुमान\nBudget \nEstimates,2020-2021\nसंशोधित\nअनुमान\nRevised \nEstimates,2021-2022\nबजट\nअनुमान\nBudget \nEstimates
2,1. राजस्व प्राप्तियां,1. Revenue Receipts,1684059,2020926,1555153,1788424
3,2. कर राजस्व (केंद्र को निवल ),2. Tax Revenue (Net to Centre),1356902,1635909,1344501,1545396
4,3. कर भिन्न राजस्व,3. Non Tax Revenue,327157,385017,210652,243028

union-budget-2022-2023

,बजट का सार Budget at a Glance,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,(₹ करोड़) (In ₹ crores),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2020-2021\n वास्तविक\n\nActuals,2021-2022\nबजट\nअनुमान\nBudget \nEstimates,2021-2022\nसंशोधित\nअनुमान\nRevised \nEstimates,2022-2023\nबजट\nअनुमान\nBudget \nEstimates
2,1. राजस्व प्राप्तियां,1. Revenue Receipts,1633920,1788424,2078936,2204422
3,2. कर राजस्व (केंद्र को निवल ),2. Tax Revenue (Net to Centre),1426287,1545396,1765145,1934771
4,3. कर भिन्न राजस्व,3. Non Tax Revenue,207633,243028,313791,269651

The format of data in the union budget of 2018-19 is disimilar from the rest of the target years. It will need additional transformation steps.

In [5]:
for df in xls[1:]:
    print(df.shape)

(26, 6)
(26, 6)
(25, 6)
(25, 6)

In [13]:
def extract_rows_with_data_points(df: pd.DataFrame):
    index = df.iloc[:,2:].dropna(how='all').index
    return df.iloc[index].reset_index(drop=True)

In [11]:
for df in xls[1:]:
    print(extract_rows_with_data_points(df).shape)

(18, 6)
(18, 6)
(18, 6)
(19, 6)

In [24]:
def assign_column_names(df: pd.DataFrame):
    df.columns = ["hindi_head", "english_head"] + df.iloc[0, 2:].to_list()
    return df.iloc[1:].reset_index(drop=True)

In [ ]:
pipe(extract_rows_with_data_points).pipe(assign_column_names).drop(columns="hindi_head")

In [46]:
def remove_utf8(text):
    if isinstance(text, str):
        # Use regular expression to remove non-UTF-8 characters
        return ''.join(char for char in text if char.isascii())
    else:
        return text  # Return non-string values as is

In [47]:
def remove_newlines(text):
    if isinstance(text, str):
        # Replace "\n" with an empty string
        return text.replace("\n", "")
    else:
        return text  # Return non-string values as is

In [61]:
def remove_brackets(text):
    if isinstance(text, str):
        # Use regular expression to remove content within both parentheses and square brackets
        return re.sub(r'\([^)]*\)|\[[^\]]*\]', '', text)
    else:
        return text  # Return non-string values as is

In [86]:
def data_cleaning_pipeline(df: pd.DataFrame):
    return df.pipe(extract_rows_with_data_points) \
        .map(remove_newlines).map(remove_brackets) \
        .map(remove_utf8).pipe(assign_column_names) \
        .drop(columns="hindi_head")

In [74]:
def split_variable_column(df: pd.DataFrame, column_name: str = "variable"):
    df['year'] = df[column_name].str.extract(r'(\d{4}-\d{4})')
    df['estimate_type'] = df[column_name].str.replace(r'\d{4}-\d{4}', '', regex=True).str.strip()

    return df.drop(columns=column_name)

In [77]:
cln_dfs = map(lambda df: df.pipe(data_cleaning_pipeline).melt(id_vars="english_head").pipe(split_variable_column), xls[1:])
df = pd.concat(cln_dfs)

In [87]:
col_order = ["year", "estimate_type", "english_head", "value"]
df["english_head"] = df["english_head"].str.strip()
fnl_df = df[col_order]
fnl_df.sample(10)

         year      estimate_type                         english_head    value
15  2018-2019            Actuals                   16. Fiscal Deficit   649418
34  2018-2019  Revised Estimates                  1. Revenue Receipts  1729682
10  2020-2021            Actuals                11. Interest Payments   679869
5   2017-2018            Actuals                    6. Other Receipts   100045
28  2019-2020   Budget Estimates       12. Grants in Aid for creation   207333
46  2019-2020  Revised Estimates               13. On Capital Account   348907
25  2018-2019   Budget Estimates                 9. Total Expenditure  2442213
28  2021-2022   Budget Estimates                11. Interest Payments   809701
29  2019-2020   Budget Estimates               13. On Capital Account   338569
23  2019-2020   Budget Estimates  7. Borrowings and Other Liabilities   703760

In [ ]:
fnl_df.to_csv("../data/interim/ub_macro_last_4_years.csv", index=False)